* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    dislay: flex;
    justify-content: center;
    color: rgb(41, 41, 41);
}

hr {    /*设置下划线样式*/
    margin: 10px;
    border: none;
    padding: 1px;
    background-color: rgb(154, 154, 154);
    border-radius: 1px;
}




#hello {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;  
    align-items: center;
    font-weight: 900;
    font-size: xxx-large;
    background: linear-gradient(-45deg, rgb(13, 0, 255), rgb(253, 85, 127));
    -webkit-background-clip: text;
    color: transparent;
    animation: slideInFromBottom 2s ease;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);   /*设置滑入*/
        opacity: 0; /*设置淡入*/
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

#Intro {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    top: 40vh;
    width: 90vw;
    height: fit-content;
    text-align: center;
    backdrop-filter: blur(50px);
    animation: slideInFromBottom 1.5s ease;
}

#Intro_word {
    background-color: transparent;
    text-align: left;
    margin: auto;
    
}

#Intro_word_title {
    font-weight: 600;
    font-size: x-large;
}

